# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
/ios
/android

# Metro
.metro-health-check*

# Environment
.env*.local
.env

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# IDE
*.log
